/* CSS Custom Properties Definitions */

:root {
  /*Custom*/
  --headerHeightMobile: 60px;
  --headerHeightDesktop: 100%;
  --headerWidthMobile: 100%;
  --headerWidthDesktop: 275px;
  /*Custom*/

  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;

  --color-primary: rgb(25, 25, 25);
  --color-primary-bg: 25, 25, 25;
  --color-secondary: #ffffff;
  --color-tertiary:rgb(43, 43, 43);
  --color-tertiary-bg: 43, 43, 43;
  --color-text: #1e201e;
  --color-text-light: #ffffff;
  --color-heading: #383838;  
  --color-heading-black: black;
  --color-accent: #FFD25A;
  

  /*Test colors*/
  /* --color-primary: #1e201e;
  --color-secondary: #ffffff;
  --color-tertiary:#3b3d3b;
  --color-text: #1e201e;
  --color-text-light: #ffffff;
  --color-heading: #383838;  
  --color-heading-black: black;
  --color-accent: #FFE985; */
}

/* HTML elements */
/*fonts*/
@font-face {
  font-family: 'ringbearer.medium';
  font-style: normal;
  font-weight: normal;
  src: local('ringbearer.medium'), url('../css/fonts/ringbearer.medium.woff') format('woff');
}
@font-face {
  font-family: 'elvish';
  font-style: normal;
  font-weight: normal;
  src: local('elvish-ring-nfi.regular'), url('../css/fonts/elvish-ring-nfi.regular.ttf') format('truetype');
}
@font-face {
  font-family: 'aniron';
  font-style: normal;
  font-weight: normal;
  src: local('aniron.regular'), url('../css/fonts/aniron.regular.ttf') format('truetype');
}


*,
:after,
:before {
  box-sizing: border-box;
}
/* MENU STUFF */
.menu {  
  position: absolute;
  background: var(--color-primary);
  /* color:var(--color-text-light); */
  margin-top: var(--headerHeightMobile);
  height: calc(100vh - var(--headerHeightMobile));  
  width: 100%;
  overflow: auto;
  z-index: 99;
  box-shadow: inset 0px 0px 7px 0px var(--color-tertiary);
  /* animation: slideDown .5s; */
}
.menu ul {
  list-style-type: none;
  /* margin: 0 20px; */
}
.menu li {
  display: flex;
  align-items: baseline;
  font-family: var(--font-heading);
}
.menu a ,.desktop-menu a {
  color:var(--color-text-light);
  font-family: var(--font-heading);
}
.home-fact .factNum{
  line-height: unset;
}
.menu .factNum {
  margin: 0 10px 0 0;    
}
.menu-control {
  /* padding: 8px; */
}
.menu-control:hover{
  cursor: pointer;
}
/*messages*/
.message-text {
  color:var(--color-text-light);
  font-style: .9em;
  font-family: 'Montserrat';
}
.message-text {
  color:#ffffffd4;
}
.message-entry {
  font-family: 'aniron';
  font-size: .85em;
}
.message-link {
  color:var(--color-text-light);
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  font-style: italic;
  font-weight: 600;
}
.info-pwa {  
  color:var(--color-text-light);
  /* text-decoration: underline;
  text-decoration-color: var(--color-accent); */
  font-weight: 600;
}

.contact-form {
  color: var(--color-text-light);
}
/* .message-popper {
  display: flex;
  color:yellow;
} */
.mobile-menu-fact {
  margin-bottom: 8px;
}
.mobile-menu-fact a {
  text-decoration: none;
}
.factNum{
  min-width: fit-content; 
  color: var(--color-text-light);
  line-height: 1;
}
.active-factNum {
  border-bottom: 2px solid var(--color-accent);
}
.active-factNum ~ a {
  text-decoration: underline!important;
  text-decoration-color: var(--color-accent)!important;
}
.factNum p{
  margin: 0 2px 0 0;
  background: var(--color-primary);
  padding: 0 8px;  
  /* font-family: 'ringbearer.medium'; */
}
.desktop-menu li {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
  font-family: var(--font-heading);
}
.desktop-menu a {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: .8em;
}
.desktop-menu .factNum {
  margin: 0 8px 0 0;
}
.bar {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.home-fact-list {
  margin: 0px 5px 72px 5px;
  list-style: none;  
  max-width: 1200px;
}
.home-fact-wrapper {  
  box-shadow: 1px 2px 3px 1px #aaaaaa91;
  padding-right: 8px;
}
.home-fact {
  display: flex;
  margin-top: 12px;
  align-items: flex-start;
  text-decoration: none;
}
.home-page-controls {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--color-primary);
  padding: 10px 0;
  height: var(--headerHeightMobile);
  align-items: center;
  box-shadow: 0px -1px 4px 0px #e6e6e66e;
}
.home-page-controls div {
  margin: 0px 30px;
}
.home-page-controls a {
  color:var(--color-text-light);
  text-decoration: none;
  font-size: 3em;
  line-height: 30px;
  padding: 2px 12px;
}

main {
  padding-top: var(--headerHeightMobile);
  background: var(--color-text-light);
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #ebebeb; */
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  /* margin-top: var(--spacing-12); */
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  /* line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35; */
  /* margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0); */
  /* padding: var(--spacing-0); */
}

 ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}
/*
ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
} */

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
  word-break: break-word;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */

.global-wrapper {
  /* margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5); */
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.global-header {  
  display: flex;
  justify-content: space-between;  
  box-shadow: -3px -1px 9px 0px var(--color-primary);
  /* background: var(--color-primary); */
  position: fixed;
  height: var(--headerHeightMobile);
  width: var(--headerWidthMobile);
  z-index: 99;
  background: url('../../content/assets/fellowship-black.png'),linear-gradient(180deg, rgba(var(--color-primary-bg), 1), rgba(var(--color-primary-bg), 1));    
  background-blend-mode: darken;
  background-size: cover;
  /* background-position: 0px -122px; */
  background-position: center;
  background-repeat: no-repeat;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo a {
  font-family: 'ringbearer.medium';
  color: var(--color-text-light);
  font-size: 1.6em;  
}

.global-header .menu-control, .global-header .header-logo {
  padding: 8px;
}

.main-heading {
  font-size: var(--fontSize-7);
  margin: 0;
}
.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  max-width: 80px;
  height: auto;
  border-radius: 100%;
}
.blog-post {
  margin-bottom: var(--headerHeightMobile);
}
.blog-post-number {
  margin-right:12px;
}
.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--font-heading);
}

.blog-post-body {
  padding-bottom:100px;
}
.fact-attribution {
  display: flex;
  justify-content: end;  
  font-size: .8em;
}
.fact-attribution a {
  color:gray;
}

.blog-post-nav ul {
  margin: var(--spacing-0);
  background: var(--color-primary);
  position: fixed;
  height: var(--headerHeightMobile);
  width: 100%;
  z-index: 98;
  bottom: 0;  
}
.blog-post-nav ul li a{
  color: var(--color-text-light);
}

.desktop-next {
  display: none;
}
.desktop-previous {
  display: none;
}
.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

/* Tabs */
.react-tabs{
  flex-grow: 1 !important;
  margin-top: 12px !important;
}
.react-tabs__tab--selected {
 background: unset !important;
 color: var(--color-text-light) !important; 
 border-bottom: 1px solid var(--color-primary) !important;
 border-radius: 2px!important;
}
.react-tabs__tab--selected:focus {
  text-decoration: none;
  border: none!important;
  box-shadow: none;
}
.react-tabs__tab:focus {
  text-decoration: none;
  border: none!important;
  border-color: unset;
  box-shadow: none;
}
.react-tabs__tab {
  color: var(--color-text-light) !important; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.react-tabs__tab-list{
  display: flex;
  font-family:var(--font-heading);
  font-size: 1em;  
  font-weight: 500;
}
.react-tabs__tab-panel {
  padding: 8px 8px 8px 8px !important;
  border-bottom: 1px solid var(--color-tertiary);
  max-height: calc(100vh - 274px);
  overflow: auto;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary); 
} 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(78, 78, 78); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* mobile menu bottom */
.mobile-menu-bottom {
  color: var(--color-text-light);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  padding: 12px 0;
  bottom: 0;
  z-index: 1;
  background-color: var(--color-primary);
  /* border-top: 1px solid var(--color-tertiary); */
}

/* unselectable text*/
.non-selectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Beer Link */
.beer-link {
  font-size: 1.8em;
  border: 2px solid var(--color-text-light);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
.beer-link:hover {
  background: rgb(58, 58, 58);
}

/* timelines layout link */
.timeline-link-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;  
}
.timeline-link {
    color: var(--color-text-light);
    font-family: aniron;    
    text-decoration: none;
    border: 1px solid var(--color-text-light);
    border-radius: 2px;
    padding: 5px 10px;      
}
.timeline-link:hover {
  border: 1px solid var(--color-text-light);    
  box-shadow: 0px 0px 4px 1px #72deff;
}

/* timelines */
.bg {
  /* height: calc(100vh - var(--headerHeightMobile));
  box-shadow: inset 1px 1px 7px 1px var(--color-primary); */
}
.timeline-movie-title {
  text-align: center;
}

.movie-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--headerHeightMobile);
  background: var(--color-primary);
  z-index: 1;
  border-top: 1px solid var(--color-primary);
}
.movie-buttons button{
  font-family: var(--font-body);
  font-size: 2em;  
  color: var(--color-text-light);
  width: 52px;
  height: 52px;
  border-radius: 50%;    
  background-position: center;
  background-size: cover;
  border: 2px solid var(--color-tertiary);
  background: transparent;  
  cursor: pointer;
}
.movie-buttons .selected {
  border: 2px solid var(--color-accent);
}
 
.timeline {
  list-style-type: none;
  border-left: 7px solid var(--color-primary);
  margin-bottom: calc(var(--headerHeightMobile) + 20px);
}
.timeline .timestamp {
  display: flex;
  justify-content: space-between;
  /* font-family: var(--font-body); */
}
.timeline .timestamp p{
  width: fit-content;
  padding: 2px;
  background: var(--color-primary);
  color: var(--color-text-light);
  border-right: 3px solid var(--color-accent);
  margin-left: -21px;
}
.timeline .timestamp span {
  font-weight: bold;
  font-size: 1.1em;
}
.timeline .card {
  padding: 8px;
  margin: 12px 12px;
  border-radius: 2px;  
  box-shadow: 4px 0px 4px 0px #00000069;
}
.timeline .card .content {  
  max-height: 90px;
  overflow: auto;
  max-width: fit-content;
}

.timeline .card h5,h6,p {
  margin: 8px 0;
}


.readmore button {
  background:var(--color-primary);
  color: var(--color-text-light);
  padding:5px;
  border-radius:2px;
  box-shadow:2px 3px 4px grey;
  border:1px solid var(--color-primary);
  cursor: pointer;  
}

.readmore {
  display: flex;
  justify-content: flex-end;
}

input[type=checkbox] {
  visibility: hidden;
}

.timeline .card input[type=checkbox]:checked ~ .hide {
   display:block;
}

/* .hide {display: none;}
.show {display: flex;} */


/* Animations */
@keyframes slideDown {
  from {transform: translate(0px, -670px);}
  to {transform: translate(0px, 0px);}
}

/* Media queries */
@media (min-width: 1025px) {
  .global-header {    
    justify-content: unset;       
    width: var(--headerWidthDesktop);
    z-index: 99;
    height: var(--headerHeightDesktop); 
    flex-direction: column;       
    background-size: contain;
    background-repeat: no-repeat;    
    background-position: bottom;
  }
  .header-logo a {
    font-size: 1.8em;
    text-decoration: underline;
  }
  /* timelines */
  .timeline-link-wrapper {    
    margin: 30px 0;
  }

  /* Scroll bar */
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  main {
    margin-left: calc(var(--headerWidthDesktop) + 40px);
    margin-right: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  /* Tabs */
  .react-tabs{
    flex-grow: 1 !important;
    /* margin-top: 65px !important; */
  }
  .react-tabs__tab--selected {
    background: unset !important;
    color: var(--color-text-light) !important; 
    border-bottom: 1px solid var(--color-primary) !important;
  }  
  .react-tabs__tab {
    color: var(--color-text-light) !important; 
  }
  .react-tabs__tab-panel {    
    border-bottom: 1px solid var(--color-tertiary);
    max-height: 555px;
    overflow: auto;
  }
  
  /* Beer Link */
  .beer-link {
    font-size: 1.5em;    
  }

  .home-page-controls {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: unset;
    width: unset;
    background: unset;
    padding: 10px 0;
    height: var(--headerHeightMobile);
    align-items: center;
    box-shadow: unset;
  }
  .home-page-controls div {
    background: var(--color-primary);
    /* padding: 2px 12px; */
  }

  .article-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
  .desktop-next {
    display: block;
    margin-left:20px;
    min-width: fit-content;
  }
  .desktop-previous {
    display: block;
    margin-right:20px;
    min-width: fit-content;
  }
  .blog-post {
    max-width: 800px;
  }  

  .blog-post-title, .blog-post-number {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .blog-post-nav {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .blog-post-nav ul {
    margin: var(--spacing-0);
    background: var(--color-primary);
    position: fixed;
    height: var(--headerHeightMobile);
    width: unset;
    z-index: unset;
    bottom: 0;
}

  .home-fact h5 {
    font-size: 1.5em;
  }

  .movie-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--headerHeightMobile);
    background: unset;
    z-index: 1;
    border-top: unset;
    padding-top: 10px;
  }

  .movie-buttons button{
    background-color: var(--color-primary);
    margin: 0 20px;
    padding: 4px;
  }
  
  .movie-buttons .selected {
    border: 3px solid var(--color-accent);
  }
}